*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

header{

width: 100%;
background-color: #02375E;
display: flex;
justify-content: space-around;
align-content: center;
padding: 25px 0px;

}
.logo-img{

    width: auto;


}

.containerlogo{

display: flex;
align-items: center;

}

.containerbarrabusca {
 
  }

.menu li{

    display: inline-block;
    margin: 10px;
    color: white;

}

.menu li a{

        font-size: 25px;
        text-decoration: none;
        color: white;
        margin-top: 50%;
        font-family: sans-serif;

}

.conteinerbanner{

    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 550px;
    background-size: cover;
    
}


.secvideogames{

    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: justify;
    padding: 25px 0px;
    background-color: #02375E;
    border: 10px solid black;
}

.text {
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 25px;
    text-decoration: none;


}

.secvideogames li{

    display: inline-block;
    margin: 10px;
    color: white;
    align-items: center;
}

.seccomputer{

    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: justify;
    padding: 25px 0px;
    background-color: #02375E;
    border: 10px solid black;
}

.seccomputer li{

    display: inline;
    margin: 10px;
    color: white;
    justify-content: space-around;
    

}

.text2{

    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 25px;
    text-decoration: none;




}

.seccell{

    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: justify;
    padding: 25px 0px;
    background-color: #02375E;
    border: 5px solid black;

    }

.seccell li{

    display: inline;
    margin: 10px;
    color: white;
    justify-content: space-around;

}


.text3{

    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 25px;
    text-decoration: none;

}


.secpromo{

    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: justify;
    padding: 25px 0px;
    background-color: #02375E;
    border: 5px solid black;


}

.secpromo li{

    display: inline;
    margin: 10px;
    color: white;
    justify-content: space-around;




}

.text4{

    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 25px;
    text-decoration: none;

}


footer{

    width: 100%;
    display: flex ;
    justify-content: space-around;
    align-content: justify;
    padding: 25px 0px;
    background-color: #02375E;
    border: 5px solid black;
    color: white;
    font-family: sans-serif;

}

.pagamentos{

align-items: center;

}

.direitos{

background-color: #02375E;
font-family: sans-serif;
color: white;
text-align: center;


}




