*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
header{
background-color: #02375E;

}

.nav-bar{

    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo{

    display: flex;
    align-items: center;

}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{
display: flex;
justify-content: center;
list-style: none;

}

.nav-item{

    margin: 0px 15px;
}

  
    

.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff

   }

   .login-button button {

    border: none;
    color: rgb(17, 16, 17);
    background-color: wheat;
    padding: 10px 15px;
    border-radius: 5px;
   }

   .login-button button a {

    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
   }

   .mobile-menu-icon {
    display: none;
   } 
   .mobile-menu {
    display: none;
   }
   
   @media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem;
    }
    .nav-item{
        display: none;
    }

    .login-button{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;

    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }
    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button{
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button{
        width: 100%;
    }

    .open{
        display: block;
    }


   }






   .conteinerbanner{

    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 550px;
    background-size: cover;
    
}


.secvideogames{

    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: justify;
    padding: 25px 0px;
    background-color: #02375E;
    border: 10px solid black;
}

.text {
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 25px;
    text-decoration: none;


}

.secvideogames li{

    display: inline-block;
    margin: 10px;
    color: white;
    align-items: center;
}

.seccomputer{

    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: justify;
    padding: 25px 0px;
    background-color: #02375E;
    border: 10px solid black;
}

.seccomputer li{

    display: inline;
    margin: 10px;
    color: white;
    justify-content: space-around;
    

}

.text2{

    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 25px;
    text-decoration: none;




}

.seccell{

    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: justify;
    padding: 25px 0px;
    background-color: #02375E;
    border: 5px solid black;

    }

.seccell li{

    display: inline;
    margin: 10px;
    color: white;
    justify-content: space-around;

}


.text3{

    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 25px;
    text-decoration: none;

}


.secpromo{

     width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: justify;
    padding: 25px 0px;
    background-color: #02375E;
    border: 10px solid black;


}

.secpromo li{

    display: inline;
    margin: 10px;
    color: white;
    justify-content: space-around;
   




}

.text4{

    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 25px;
    text-decoration: none;

}


footer{

    width: 100%;
    display: flex ;
    justify-content: center;
    padding: 25px 0px;
    background-color: #02375E;
    border: 5px solid black;
    color: white;
    font-family: sans-serif;

}

.pagamentos{

align-items: center;

}

.direitos{

background-color: #02375E;
font-family: sans-serif;
color: white;
text-align: center;


}




